@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0em;
}
/*HEADER*/
header {
  font-family: "Pacifico", cursive;
  padding: 15vh;
  background-color: whitesmoke;
}

header h1 {
  font-size: 5rem;
  letter-spacing: 8px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkgreen;
  text-align: center;
}

/*nav*/
nav ul {
  list-style-type: none;
  flex-direction: row;
  background-color: darkred;
}
li {
  display: flex;
  list-style: none;
}
a {
  font-weight: bolder;
  padding: 2vh;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: brown;
  color: black;
}

/*MAIN*/
main {
  font-family: Arial, Helvetica, sans-serif;
}
section {
  padding: 12%;
  padding-right: 6em;
  text-align: center;
  display: block;
  text-shadow: 2px 2px darkgreen;
  font-size: 3rem;
  font-weight: bolder;
}
#tips {
  background-image: url("riktigpizza.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-color: black;
}

article {
  background-color: white;
  height: 10vh;
}

.row {
  display: flex;
  flex-direction: row;
}

/*kontakt info section*/
#contact {
  background-color: darkolivegreen;
  width: 30%;
}
#find {
  height: auto;
  width: 93%;
  padding-top: 4vh;
}
h2 {
  text-align: center;
  padding: 3vh;
}
p {
  text-align: center;
  letter-spacing: 1px;
}

/*Banner*/
#columner {
  column-count: 3;
  column-gap: 1vw;
  padding: 2vh;
  height: 20vh;
}

#val a:hover {
  color: brown;
  background-color: white;
}
#val a {
  font-weight: bolder;
  color: black;
}
#val {
  display: flex;
}

footer {
  height: 20vh;
  background-color: whitesmoke;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}
#media {
  justify-content: center;
}
img {
  width: 30px;
}


